wheel
setuptools
ipywidgets>=7.5.1
docker
matplotlib==3.3.2
trimesh
tables
drawnow
seaborn
pandas>=1.1.5
numpy>=1.19.4
scikit-learn>=0.23.2
scipy
git+https://gitlab.lrz.de/vadere/suq-controller.git@master

