wheel
setuptools~=57.0.0
ipywidgets>=7.5.1
docker~=5.0.0
matplotlib==3.4.1
trimesh~=3.9.20
tables>=3.6.1
drawnow
seaborn
pandas>=1.2.4
numpy<1.22,>=1.20.2
scikit-learn>=0.23.2
scikit-optimize>=0.8.1,<0.9.0
scipy~=1.6.3
shapley==1.8.0
geopandas
contextily
fs~=2.4.13
future~=0.18.2
requests~=2.25.1
folium
classify
mapclassify
dash
dash-leaflet
dash-extensions
geobuf
